@{
    ViewData["Title"] = "Learning Apps";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<div class="container mt-5">
    <h2>📱 @Localizer["LearnWithApps"]</h2>
    <ul class="list-group mt-3">
        <li class="list-group-item">
            <a href="https://getmimo.com/invite/6meni7" target="_blank">Mimo App</a>
        </li>
        <li class="list-group-item">
            <a href="https://sololearn.com" target="_blank">SoloLearn</a>
        </li>
        <!-- More apps to come -->
    </ul>
</div>

